.popup__btn-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    transition: opacity 0.2s linear;
    background: transparent url(../../../images/CloseIcon.svg) center center / cover no-repeat;
    opacity: 0.8;
}

.popup__btn-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 1280px) {
    .popup__btn-close {
        width: 32px;
        height: 32px;
        background-size: 32px;
    }
}

@media screen and (max-width: 767px) {
    .popup__btn-close {
        right: 0px;
        top: -36px;
    }
}