.popup__btn-save {
    width: 100%;
    min-height: 50px;
    margin-top: 50px;
    border: none;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    transition: opacity 0.2s linear;
}

.popup__btn-save:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 1280px) {
    .popup__btn-save {
        min-height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}