.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #000;
}

@media screen and (max-width: 768px) {
    .elements__list {
        margin-left: 50px;
        margin-right: 50px;
    }
}